
body {
    color: #777;
    font-size: 13px;
}

label {
    font-weight: normal;
}

ul {
    list-style: none;
    padding: 0;
}

.c333   { color: #333; }
.c777   { color: #777; }
.mt16   { margin-top: 16px; }
.mt20   { margin-top: 20px; }
.mt30   { margin-top: 30px; }
.t8     { top: 8%; }
.t18    { top: 18%; }

/*  overrides - bootstrap
    ============================================================ */

.fa-arrow-right {
    color: darkgreen;
}

.fa-btc {
    color: goldenrod;
}

.fa-check {
    color: green;
}

.fa-remove {
    color: firebrick;
}

/*  pagination
    ============================================================ */

.pagination li a {
    line-height: 19px;
}
